<div>
  <h2>Lista de Vendas</h2>

  <ul class = "novaVenda">
    <li (click)="novoVenda()">
        Nova Venda
    </li>
  </ul>

  <div *ngIf="vendaEdicao != undefined" class="formulario">
    <h3>Inserir/Editar</h3>
    <select [(ngModel)]="vendaEdicao.cliente.id">
      <option *ngFor="let cliente of clientes" value= {{cliente.id}}>
        {{cliente.nome}}
      </option>
   </select> <br>
    <input placeholder="Produto" [(ngModel)]="vendaEdicao.produto"> <br>
    <input placeholder="Preço" [(ngModel)]="vendaEdicao.preco"> <br>
    <input placeholder="Data Venda" [(ngModel)]="vendaEdicao.dataVenda"> <br>
    <Button (click)="salvar()">Comprar</Button>
    <Button (click)="cancelar()">Cancelar</Button>
  </div>

  <ul class = "lista">
    <li *ngFor="let venda of venda">
    <span (click)="selecionarVenda(venda)">
        {{venda.cliente.nome}}
        {{venda.produto}}
        {{venda.preco}}
        {{venda.dataVenda}}
    </span>
    <span (click)="excluir(venda)" class ="botao-excluir">Clique p/ Excluir</span>
    </li>
  </ul>

</div>
