<div>
    <h2>Lista de Usuarios</h2>

    <ul class = "novoUsuario">
        <li (click)="novoUsuario()">
            Novo Usuario
        </li>
    </ul>

    <div *ngIf="usuarioEdicao != undefined">
        <h3>Inserir/Editar</h3>
        <input placeholder="Nome" [(ngModel)]="usuarioEdicao.nome"> <br>
        <input placeholder="Usuario" [(ngModel)]="usuarioEdicao.usuario"> <br>
        <input placeholder="Senha" [(ngModel)]="usuarioEdicao.senha"> <br>
        <input placeholder="dtNascimento" [(ngModel)]="usuarioEdicao.dtNascimento"> <br>
        <Button (click)="cancelar()">Cancelar</Button>
        <Button (click)="salvar()">Salvar</Button>
    </div>

    <ul class = "lista">
        <li *ngFor="let usuario of usuarios">
        <span (click)="selecionarUsuario(usuario)">
            Nome: {{usuario.nome}},
            Email: {{usuario.usuario}},

        </span>
        <span (click)="excluir(usuario)" class ="botao-excluir">Clique p/ Excluir</span>
        </li>
    </ul>

</div>
