input{
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

button{
    background-color: aqua;
}

.botao-excluir {
    float: right;
    background-color: red;
    padding: 5px;
    margin-top: -5px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 20px;
    text-align: center;
}

.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
}